* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --body-color: #9B27B00D;
    --sidebar-color: #388E3C;
    --primary-color: white;
    --primary-color-light: #9B27B00D;
    --toggle-color: #DDDDDD;
    --text-color: white;
    --green-light: #4CAF50;
    --green-light-2: #C8E6C9;

    --color-white: #fff;
    --color-background: #f6f6f9;

    --trans-03: all 0.2s ease;
    --trans-04: all 0.3s ease;
    --trans-05: all 0.4s ease;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--trans-05);
}

::selection {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

body.dark {
    --body-color: #18171A;
    --sidebar-color: #242526;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFFFFF;
    --text-color: #CCCCCC;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--trans-05);
}


.sidebar.close {
    width: 88px;
}


.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--trans-03);
}

.sidebar .text {
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}


.sidebar.close .text {
    opacity: 0;
}


.sidebar header {
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column;
}

.name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe {
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--sidebar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--trans-05);
}


body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    width: 100%;
    top: 20%;
}


.sidebar .menu {
    margin-top: -40px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--trans-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--trans-05);
}

.sidebar li a {
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--trans-03);
}

.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--sidebar-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {
    display: none;
}


.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--trans-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}


.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--trans-05);
}


.switch::before {
    content: ' ';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--trans-04);
}

body.dark .switch::before {
    left: 20px;
}


.home {
    position: absolute;
    top: 0;
    left: 250px;
    height: auto;
    width: calc(100% - 250px);
    background-color: var(--color-background);
    transition: var(--trans-05);
}


.home .text {
    padding: 12px 50px;
    background-color: beige;
}

.sidebar.close~.home {
    left: 78px;
    height: 100%;
    width: calc(100% - 78px);
}

/* imagen */
#fotoPerfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    margin-top: 50px;
}

#fotoPerfil img {
    width: auto;
    height: 100%;
    border-radius: 100%;
    top: 20px;
}

#fotoPerfil p {
    font-size: 17px;
    font-weight: 500;
    margin-top: 10px;
    text-align: center;
    white-space: nowrap;
    opacity: 1;
}

/* Responsive de la barra de navegacion */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 88px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--trans-05);
    }

    .sidebar .text {
        opacity: 0;
    }

    .sidebar header .toggle {
        width: 100%;
    }

    .sidebar~.home {
        left: 78px;
        height: 100vh;
        width: calc(100% - 78px);
    }
}

/* ---------------------------- MODAL ---------------------------- */
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.81);
    display: none;
    z-index: 1;
}

.bodyModal {
    width: 40%;
    height: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin-left: 30%;
    margin-top: 10%;

}

.modal h1 {
    color: green;
    text-transform: uppercase;
}

.modal h2 {
    text-transform: uppercase;
    margin-top: 15px;
}

#form_add_product {
    width: 420px;
    text-align: center;
}

a {
    text-decoration: none;
}

.nameProducto {
    color: green;
}

.fa-cubes {
    color: green;
}

#txtCantidad,
#txtPrecio {
    width: 400px;
    height: 27px;
    outline: none;
    padding: 0px 0px 0% 5px;
    border-radius: 0x;
    border: 0;
    background-color: var(--green-light);
    color: white;
    margin: 5px;
}


.btn_new {

    width: 150px;
    height: 27px;
    outline: none;
    border-radius: 0px;
    border: 0;
    background-color: var(--green-light);
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-top: 20px;

}